table {
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    position: fixed;
    top: 20%;
    left: 11%;
    table-layout: fixed;
}

td {
  width: auto;
  height: 50px;
  height: fixed;
  padding: 3px, 1px;
}

th {
  width: auto;
  height: 30px;
  height: fixed;
  padding: 3px, 1px;
}
  
tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: white}
  
th {
  background-color: black;
  color: white;
  padding: 15px;
  height: fixed;
}

/* different table cell colours depending on tag of ToDo */
.urgent{
  background-color: #ee3d0c !important;
}

.delete {
  background-color: #ee3d0c !important;
  border-radius: 25px;
}

.normal {
  background-color: #FFFF66 !important;
}

.low {
  background-color: #9ACD32 !important;
}

.edit {
  background-color: #9ACD32 !important;
  border-radius: 25px;

}

.new {
  border-radius: 25px;
  background-color: #FFFF66 !important;
}

.input
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	width: 80%;
  font: 95% Arial, Helvetica, sans-serif;
  height: 90%
}

.input:focus
{
  box-shadow: 0 0 5px black;
  padding: 0.2%;
}