

table {
    border-collapse: collapse;
    width: 70%;
    text-align: center;
    position: fixed;
    top: 25%;
    left: 16%;
    table-layout: fixed;
    
  }
  
  th, td {
    width: auto;
    height: auto;
    padding: 3px, 1px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  tr:nth-child(odd){background-color: white}
  
  th {
    background-color: black;
    color: white;
    padding: 15px;
    height: fixed;
  }

  .urgent {
    background-color: #ee3d0c !important;
  }

  .normal {
    background-color: #FFFF66 !important;
  }

  .low {
    background-color: #9ACD32 !important;
  }




  /* .container3{
    margin-top: 1.5cm;

    width: 100%;
    height: 100%;
    
    overflow: hidden;
    background-color: #333;
    position: fixed;
  } */


.input
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	width: 80%;
	
	
	font: 95% Arial, Helvetica, sans-serif;
}
.input:focus

{
  box-shadow: 0 0 5px black;
  padding: 1%;
	
}